
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilenavbar_77 */
.Listing_mobilenavbar_77 {

}
.Listing_mobilenavbar_77 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Listing_mobilenavbar_77 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Listing_mobilenavbar_77 ul li:last-child a {
	margin-right: -1px !important;
}
.Listing_mobilenavbar_77 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* mobilecontainer */
.ui-content.Listing_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_3 */
.Listing_mobilegrid_3 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_3_wrapper {

}
.Listing_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_3_row_0, .Listing_mobilegrid_3_row_0 > td {
	height: 30px
}
/* mobilegridcell_4 */
.Listing_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_8 */
.Listing_mobilelabel_8 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_5 */
.Listing_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelink_81 */
.Listing_mobilelink_81 {
	margin: 4px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.Listing_mobilelink_81_link_wrapper > .Listing_mobilelink_81,
.Listing_mobilelink_81_link_wrapper > .Listing_mobilelink_81:hover,
.Listing_mobilelink_81_link_wrapper > .Listing_mobilelink_81:active,
.Listing_mobilelink_81_link_wrapper > .Listing_mobilelink_81:visited {
	text-decoration: underline; font-weight: normal; font-style: italic; color: #2489ce; text-align: left; font-family: Helvetica; font-size: 16px;
}
/* mobilegrid_13 */
.Listing_mobilegrid_13 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_13_wrapper {

}
.Listing_mobilegrid_13 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_13_row_0, .Listing_mobilegrid_13_row_0 > td {
	height: 30px
}
/* mobilegridcell_14 */
.Listing_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_18 */
.Listing_mobilelabel_18 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_15 */
.Listing_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_acqrbank */
.Listing_mobilelabel_acqrbank {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_20 */
.Listing_mobilegrid_20 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_20_wrapper {

}
.Listing_mobilegrid_20 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_20_row_0, .Listing_mobilegrid_20_row_0 > td {
	height: 30px
}
/* mobilegridcell_21 */
.Listing_mobilegridcell_21 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_25 */
.Listing_mobilelabel_25 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_22 */
.Listing_mobilegridcell_22 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_acqdate */
.Listing_mobilelabel_acqdate {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_29 */
.Listing_mobilegrid_29 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_29_wrapper {

}
.Listing_mobilegrid_29 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_29_row_0, .Listing_mobilegrid_29_row_0 > td {
	height: 30px
}
/* mobilegridcell_30 */
.Listing_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_34 */
.Listing_mobilelabel_34 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_31 */
.Listing_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_city */
.Listing_mobilelabel_city {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_50 */
.Listing_mobilegrid_50 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_50_wrapper {

}
.Listing_mobilegrid_50 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_50_row_0, .Listing_mobilegrid_50_row_0 > td {
	height: 30px
}
/* State */
.Listing_State {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_State > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_55 */
.Listing_mobilelabel_55 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_52 */
.Listing_mobilegridcell_52 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_52 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_state */
.Listing_mobilelabel_state {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_36 */
.Listing_mobilegrid_36 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_36_wrapper {

}
.Listing_mobilegrid_36 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_36_row_0, .Listing_mobilegrid_36_row_0 > td {
	height: 30px
}
/* mobilegridcell_37 */
.Listing_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41 */
.Listing_mobilelabel_41 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38 */
.Listing_mobilegridcell_38 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_cert */
.Listing_mobilelabel_cert {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_63 */
.Listing_mobilegrid_63 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_63_wrapper {

}
.Listing_mobilegrid_63 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_63_row_0, .Listing_mobilegrid_63_row_0 > td {
	height: 30px
}
/* mobilegridcell_64 */
.Listing_mobilegridcell_64 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_64 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* prevButton */
#Listing_prevButton {

}
.ui-btn.Listing_prevButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_65 */
.Listing_mobilegridcell_65 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_65 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* nextButton */
#Listing_nextButton {

}
.ui-btn.Listing_nextButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegrid_83 */
.Listing_mobilegrid_83 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Listing_mobilegrid_83_wrapper {

}
.Listing_mobilegrid_83 > tr > td {
	vertical-align: top;
}
.Listing_mobilegrid_83_row_0, .Listing_mobilegrid_83_row_0 > td {
	height: 30px
}
/* mobilegridcell_84 */
.Listing_mobilegridcell_84 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Listing_mobilegridcell_84 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* html_88 */
.Listing_html_88 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: 250px; height: 100px;
}
div.Listing_html_88 {
	overflow: auto;
}
/* mobilefooter */
.Listing_mobilefooter {
	min-height:38px;
}