
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilenavbar_63 */
.startScreen_mobilenavbar_63 {

}
.startScreen_mobilenavbar_63 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .startScreen_mobilenavbar_63 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .startScreen_mobilenavbar_63 ul li:last-child a {
	margin-right: -1px !important;
}
.startScreen_mobilenavbar_63 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilesearchbar_2 */
.startScreen_mobilesearchbar_2 {
	margin: 4px 0px 4px 0px;
}
#startScreen_mobilesearchbar_2-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilegrid_3 */
.startScreen_mobilegrid_3 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_3_wrapper {

}
.startScreen_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_3_row_0, .startScreen_mobilegrid_3_row_0 > td {
	height: 30px
}
/* mobilegridcell_4 */
.startScreen_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_8 */
.startScreen_mobilelabel_8 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_5 */
.startScreen_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelink_67 */
.startScreen_mobilelink_67 {
	margin: 4px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.startScreen_mobilelink_67_link_wrapper > .startScreen_mobilelink_67,
.startScreen_mobilelink_67_link_wrapper > .startScreen_mobilelink_67:hover,
.startScreen_mobilelink_67_link_wrapper > .startScreen_mobilelink_67:active,
.startScreen_mobilelink_67_link_wrapper > .startScreen_mobilelink_67:visited {
	text-decoration: underline; font-weight: normal; font-style: italic; color: #2489ce; text-align: left; font-family: Helvetica; font-size: 16px;
}
/* mobilegrid_13 */
.startScreen_mobilegrid_13 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_13_wrapper {

}
.startScreen_mobilegrid_13 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_13_row_0, .startScreen_mobilegrid_13_row_0 > td {
	height: 30px
}
/* mobilegridcell_14 */
.startScreen_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_18 */
.startScreen_mobilelabel_18 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_15 */
.startScreen_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_acqrbank */
.startScreen_mobilelabel_acqrbank {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_20 */
.startScreen_mobilegrid_20 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_20_wrapper {

}
.startScreen_mobilegrid_20 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_20_row_0, .startScreen_mobilegrid_20_row_0 > td {
	height: 30px
}
/* mobilegridcell_21 */
.startScreen_mobilegridcell_21 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_25 */
.startScreen_mobilelabel_25 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_22 */
.startScreen_mobilegridcell_22 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_acqdate */
.startScreen_mobilelabel_acqdate {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_29 */
.startScreen_mobilegrid_29 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_29_wrapper {

}
.startScreen_mobilegrid_29 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_29_row_0, .startScreen_mobilegrid_29_row_0 > td {
	height: 30px
}
/* mobilegridcell_30 */
.startScreen_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_34 */
.startScreen_mobilelabel_34 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_31 */
.startScreen_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_city */
.startScreen_mobilelabel_city {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_50 */
.startScreen_mobilegrid_50 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_50_wrapper {

}
.startScreen_mobilegrid_50 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_50_row_0, .startScreen_mobilegrid_50_row_0 > td {
	height: 30px
}
/* State */
.startScreen_State {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_State > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_55 */
.startScreen_mobilelabel_55 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_52 */
.startScreen_mobilegridcell_52 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_52 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_state */
.startScreen_mobilelabel_state {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_36 */
.startScreen_mobilegrid_36 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_36_wrapper {

}
.startScreen_mobilegrid_36 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_36_row_0, .startScreen_mobilegrid_36_row_0 > td {
	height: 30px
}
/* mobilegridcell_37 */
.startScreen_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41 */
.startScreen_mobilelabel_41 {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38 */
.startScreen_mobilegridcell_38 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_cert */
.startScreen_mobilelabel_cert {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_57 */
.startScreen_mobilegrid_57 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_57_wrapper {

}
.startScreen_mobilegrid_57 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_57_row_0, .startScreen_mobilegrid_57_row_0 > td {
	height: 30px
}
/* mobilegridcell_58 */
.startScreen_mobilegridcell_58 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_58 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_62 */
.startScreen_mobilelabel_62 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}